<div class = "container">

	<h2>Make an offer to @product.seller.username</h2>

	<%= form_with model: @offer, url: user_product_buy, local: true do |form| %>

		<p>
			<h3>Product Name</h3>
			<h4>@product.name</h4>
        	</p>

		<p>
			<h3>Offer Price</h3>
			<h4>@product.price</h4>
		</p>

		<p>
			<%= form.label :message "Message to seller" %><br>
			<%= form.text_field :message %>
		</p>

		<p>
			<%= form.label :transaction_method %>
				<%= form.radio_button :transaction_method, "meet", :checked => true %> Let's Meet
				<%= form.radio_button :transaction_method, "mail" %> Mail it to me
		</p>
			
		<p>
			<%= form.label :meetup_location %> <br>
			if @product.location_1 && @product.location_2
				<%= form.radio_button :meetup_location, "location_1", :checked => true %> @product.location_1
				<%= form.radio_button :meetup_location, "location_2" %> @product.location_2
			elsif @product.location_1 && @product.location_2 == false 
				<%= form.radio_button :meetup_location, "location_1", :checked => true %> @product.location_1
			elsif @product.location_2 && @product.location_1 == false 
				<%= form.radio_button :meetup_location, "location_2", :checked => true %> @product.location_2
		</p>

		<p>
			<%= form.submit %>
		</p>

	<% end %>

	<%= link_to 'Back', user_products_path %>

</div>

