<div class = "container">
	</br>
	</br>
	</br>
	<div class="container">
        <div class="row">
			<div class="col-xs-4 item-photo">
			   	<%= image_tag(@product.image_url, :alt => "entry") %>
            </div>

            <div class="col-xs-5" style="border:0px solid gray">
                	</br>
                	</br>
                <div class="card-body text-primary" style="max-width: 30rem;">
					<div class="card-header bg-transparent border-primary">
						  	<h3><%= @product.product_name %></h3>
					</div>

					<div class="card-body text-primary">
						<h8 style="color:#337ab7">Seller:</h8>
                    	<h5><p><%= link_to @product.seller.username, user_path(@product.seller_id) %><small style="color:#337ab7"></small></p></h5>
                    	<h8 style="color:#337ab7">Price:</h8>
                    	<h4 style="margin-top:0px; color:#2E64FE ">SGD$<%= @product.price %></h4>
						<h8 style="color:#337ab7">Category:</h8>
                    	<h4 style="margin-top:0px; color:#2E64FE "><%= @product.category.product_category %></h4>
					</div>

					<div class="card-footer bg-transparent border-primary">
							<p class="card-text"><%= @product.description %></p>
						<div class="section" style="padding-bottom:20px;">
							<% if current_user.id == @product.seller.id %>
								<button type="button" class="btn btn-primary"><%= link_to 'Edit', edit_user_product_path %></button>
								<button type="button" class="btn btn-primary"><%= link_to 'Delete Product', user_product_path(@product), method: :delete, data: { confirm: 'Are you sure?' } %></button>
							<% else %>
								<button type="button" class="btn btn-primary"><%#= link_to 'Buy', buy_products_path %></button>
							<% end %>
						</div>
					</div>
				</div>
            </div>
        </div>
		<div class = "container">

			<%= form_with scope: :comment, url: user_product_comments_path(user_id: current_user.id, product_id: @product.id), local: true do |form| %>

			 	<p>
			 		<%= form.label :user_comment, "Add Comment" %></br>
			 		<%= form.text_area :user_comment %>
			 	</p>

			 	<p>
			 		<%= form.submit %>
			 	</p>
			<% end %>
				<div class ="table-responsive-sm">
					<table class="table table-sm">
						<thead>
							<tr>
								<th scope="col">Username</th>
								<th scope="col">Comment</th>
								<th scope="col">Edit</th>
								<th scope="col">Delete</th>
							</tr>
						</thead>
						<tbody>
						<% @comments.each do |comment| %>
						<tr>
							<td><%= current_user.username %></td>
							<td><%= comment.user_comment %></td>
							<td><%= link_to 'Edit', edit_user_product_comment_path(user_id: current_user.id, product_id: @product.id, id: comment.id)%></td>
<td><%= link_to 'Delete', user_product_comment_path(user_id: current_user.id, product_id: @product.id, id: comment.id), method: :delete, data: { confirm: 'Are you sure?' }%></td>
						</tr>
						<% end %>
						</tbody>
					</table>
				</div>
    	</div>
</div>













