<!DOCTYPE html>
<html>
  <head>
    <title>CarouHell</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark sticky-top">
      <a class="navbar-brand" href="http://carouhell.tumblr.com/">CarouHell</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">

        <li class="nav-item">
          <a class="nav-link" href="new_product_path">Sell</a>
        </li>

          <li class="nav-item">
            <a class="nav-link" href="category_products">Categories</a>
          </li>

        </ul>
        <form class="form-inline my-2 my-lg-0">
          <input class="form-control mr-sm-2" type="search" placeholder="Find products" aria-label="Search">
            <button class="btn btn-info my-2 my-sm-0" type="submit">Search</button>
        </form>
      </div>
    </nav>

    <% if current_user == nil %>
      <nav class="sticky-top navbar nav justify-content-end">
        <li class="nav-link"><%= link_to 'Login', new_user_session_path %>/li>
        <li class="nav-link"><%= link_to 'Sign Up', new_user_registration_path %></li>
      </nav>
    <% else %>
      <nav class="sticky-top navbar nav justify-content-end">
        <li class="nav-item">Welcome back, <%= current_user.username %>!</li>
        <li class="nav-link"><%= link_to 'Logout', destroy_user_session_url, method: :delete %></li>
      </nav>
    <% end %>
  

    <%= yield %>
    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>
  </body>
</html>